.Header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 75px;
  transition: all 0.3s;
}
.header_container {
  width: 100%;
  height: 100px;
  padding: 0 25px;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_right,
.header_left {
  display: flex;
  align-items: center;
}
.header_rightLogo {
  max-width: 8rem;
  height: 100%;
  margin-left: 40px;
  cursor: pointer;
}
/* two item is for responsive mode */
.header_rightLogo img,
.responsive_header_topBox_logo img {
  width: 100%;
  object-fit: fill;
  cursor: pointer;
}
.header_right_searchbox {
  position: relative;
  min-width: 450px;
}
.header_right_searchbox input,
.responsive_header-bottom_searchbox input {
  width: 100%;
  padding: 16px 10px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: var(--gray);
  transition: all 0.3s;
}
.header_right_searchbox input:focus {
  outline: none;
  background-color: white;
  border: 1px solid var(--gray);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* two item is for responsive mode */
.header_right_searchboxIcon,
.responsive_header-bottom_searchboxIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 28px;
  color: var(--primary);
}
.header_leftBox {
  position: relative;
  margin-left: 15px;
  cursor: pointer;
}
.header_leftBoxIcon {
  font-size: 28px;
}
/* two item is for responsive mode */
.header_leftBox span,
.header_top_shoppingCart {
  width: 15px;
  height: 15px;
  font-size: 12px;
  position: absolute;
  top: -3px;
  left: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--primary);
  border-radius: 50%;
}
.header_left_loginBtn {
  border: 1px solid var(--gray);
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header_left_loginBtn:hover .header_left_loginIcon {
  transform: rotateZ(180deg);
}
.header_left_loginIcon {
  font-size: 24px;
  margin-left: 5px;
  transition: all 0.2s;
}

/* nav Bottom */
.header_bottom_menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  min-height: 50px;
  padding: 0 15px;
  background-color: var(--background);
  box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.2);
  transition: bottom 0.5s;
  display: flex;
  align-items: center;
  z-index: -1;
}
/* responsive more than 920px */
.responsive_header_container {
  display: none;
  visibility: hidden;
}

/* responsive less than 920px */
@media only screen and (max-width: 960px) {
  .Header {
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.2);
    top: 0 !important;
  }
  .header-responsive_hide_items {
    display: none;
    visibility: hidden;
  }
  .responsive_header_container {
    width: 100%;
    padding: 15px 20px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    z-index: 99;
    visibility: visible;
  }
  .responsive_header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .responsive_header_topBox_icon {
    position: relative;
    font-size: 24px;
    cursor: pointer;
  }
  .responsive_header_topBox_logo {
    max-width: 140px;
  }
  .responsive_header_bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .responsive_header-bottom_searchbox {
    position: relative;
    min-width: calc(100% - 50px);
  }
  .responsive_header-bottom_searchbox input {
    padding: 12px 10px;
    transition: none;
  }
  .responsive_header-bottom_loginIcon {
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
  }
}
/* @media only screen and (max-width: 425px) {
  .responsive_header-bottom_searchbox input::placeholder {
    
  }
} */
